--extra-index-url https://download.pytorch.org/whl/cu130
torch==2.12.0+cu130
numpy==2.4.4
gymnasium==1.2.3
pettingzoo==1.26.1
pytest-asyncio==1.4.0
tensorboard==2.20.0
pybind11==3.0.4
psutil==7.2.2
pytest-timeout==2.4.0
setuptools
pytest
aiohttp
